# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs & databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE / Editor settings
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db

# Testing
.coverage
.tox/
.pytest_cache/
